@import url(Button.css);
@import url(ProductCard.css);
@import url(loader.css);
#root {
  max-width: 1280px;
  min-width: 350px;
  min-height: 100vh;
  margin: auto;

  --pp-red: #ef476fff;
  --pp-grey: rgb(214, 207, 209);
  --pp-yellow: #ffd166ff;
  --pp-green: #06d6a0ff;
  --pp-blue: #118ab2ff;
  --pp-dark-green: #073b4cff;
  --pp-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  --pp-box-shadow-light: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.4rem;

  background-color: burlywood;

  color: white;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.skuImage {
  height: 7em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.header {
  background-color: darkcyan;
  border-radius: 2em;
  top: 20px;
  padding: 10px 20px;
  color: var(--pp-dark-green);
  display: flex;
  justify-content: space-between;
  align-items: left;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  display: flex;
  color: aliceblue;
  background-color: darkcyan;
  justify-content: center;
  align-items: center;
}
.productCard {
  background-color: darkcyan;
}
.marketingCard {
  background-color: darkcyan;
}
.card:hover {
  background-color: rgb(178, 211, 203);
  color: black;
  box-shadow: 10px 5px 5px black;
  text-shadow: 5px 2.5px 2.5px whitesmoke;
}

.read-the-docs {
  color: #888;
}

.separator {
  height: 5px;
  background-color: rgba(102, 102, 102, 0.89);
  border: none;
}

.productFormCard {
  margin: 10px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  background-color: darkcyan;
  width: auto;
  height: 600px;
  border-radius: 2.4rem;
  box-shadow: var(--pp-box-shadow);
}
.layoutContainer {
  position: relative;
  padding: 2rem;
}
.bigSpace {
  height: 500px;
}
@media only screen and (max-width: 600px) {
  .card {
    width: auto;
    display: block;
  }
  .productCard {
    width: auto;
    display: flex;
  }
  .productCard img {
    display: none;
  }
  .marketingCard {
    width: auto;
    display: flex;
  }
  .marketingCard img {
    display: none;
  }
  .layoutContainer {
    position: relative;
    padding: 2rem;
  }
}
@media only screen and (min-width: 600px) {
  .card {
    width: 300px;
  }
}
