#homeButton {
  margin-top: 20px;
  color: white;
  float: left;
  /* vertical-align: baseline; */
}
#homeButton:hover {
  color: black;
}
#backButton {
  top: 10rem;
  color: white;
  display: flexbox;
  margin-right: auto;
  margin-left: auto;
}

#saveButton {
  top: 10rem;
  color: white;
  display: flexbox;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
#saveButton:hover {
  color: black;
}
#backButton:hover {
  color: black;
}

#resultsButtonContainer {
  background-color: midnightblue;
  border-radius: 2em;
  padding: 10px 20px;
  color: var(--pp-dark-green);
  display: flex;
  justify-content: space-between;
}
#priceListIcon {
  color: black;
}

#priceListIcon:hover {
  color: black;
}
