.card {
  margin: 10px;
  display: inline-block;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  background-color: rgb(121, 109, 109);
  width: 400px;
  height: 18rem;
  border-radius: 2.4rem;
  box-shadow: var(--pp-box-shadow);
}
.productCard {
  margin: 10px;
  display: inline-block;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  background-color: rgb(121, 109, 109);
  width: 400px;
  height: 18rem;
  border-radius: 2.4rem;
  box-shadow: var(--pp-box-shadow);
}
.marketingCard {
  margin: 1rem;
  display: inline-block;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  background-color: rgb(121, 109, 109);
  width: 400px;
  height: 800px;
  border-radius: 2.4rem;
  box-shadow: var(--pp-box-shadow);
}
.homeCard {
  width: 10rem;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.4rem;
}

.profilePhoto {
  width: 125px;
  height: 125px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  border-radius: 2.5rem;
  box-shadow: var(--pp-box-shadow);
}

.profilePhoto:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.addExpenseButton {
  margin: 2rem;
  grid-column: span 2;
}

.label {
  font-size: 10px;
  letter-spacing: 0.2rem;
  display: block;
  text-align: left;
  margin-left: 1rem;
}

.sumLabel {
  font-weight: 800;
}

.nameLabel {
  color: black;
  font-weight: 100;
}
li {
  display: block;
  /* text-align: left; */
}

.homeCardMarketing {
  border-radius: 1.4rem;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.marketingProfilePhoto {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  border-radius: 2.5rem;
  box-shadow: var(--pp-box-shadow);
}
h2 {
  margin-bottom: 10px;
  margin-top: 0%;
  float: left;
}
.insideDiv {
  width: 100%;
  margin: 10px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.miniTitle {
  font-weight: 700;
  text-align: justify;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.brandSpace {
  margin-top: 80px;
}
.brandTitle {
  display: inline-block;
  font-weight: 850;
  font-size: x-large;
  float: none;
  align-self: top;
}
.homeTitle {
  display: grid;
  font-weight: 850;
  font-size: x-large;
  float: bottom;
  align-self: top;
}
.budgetItems {
  float: none;
  text-align: justify;
  margin-left: 10px;
}
.totals {
  float: none;
  margin-left: 10px;
  font-size: larger;
  font-weight: 700;
  text-align: justify;
}
